<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand topnav" href="#"><img src="../assets/img/BOTB_Logo3_wDrop.png" width="70"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="#about">About</a>
              </li>
              <li>
                  <a href="#events">Events</a>
              </li>
              <li>
                  <a href="#contact">Contact</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


<!-- Header -->
<div class="intro-header">
  <div class="container">

      <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                  <h1>Bottom of the Bottle</h1>
                  <hr class="intro-divider">
                  <ul class="list-inline intro-social-buttons">
                      <li>
                          <a href="https://www.facebook.com/BottomoftheBottleBand"><i class="fa fa-facebook fa-4x"></i> <span class="network-name"></span></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/bottomofthebottleband/"><i class="fa fa-instagram fa-4x"></i><span class="network-name"></span></a>
                    </li>
                      <li>
                          <a href="https://www.youtube.com/channel/UCjEV8On47-yYHVc5RNsRn2Q"><i class="fa fa-youtube fa-4x"></i> <span class="network-name"></span></a>
                      </li>
                      <li>
                          <a href="https://bottomofthebottlemusic.bandcamp.com/releases"><i class="fa fa-bandcamp fa-4x"></i> <span class="network-name"></span></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<a name="about"></a>
<div class="content-section-a">

  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Check out our new single:<br>Daydream</h2>
              <p class="lead">Download it for free at our <a target="_blank" href="https://bottomofthebottlemusic.bandcamp.com/releases">Bandcamp</a>. Just type 0 in the "name your price" box. Our full EP will be available soon!</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EegfkVgJYwc"></iframe>
              </div>
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a name="events"></a>
<div class="content-section-b">

  <div class="container">

      <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Events</h2>
              <p class="lead">Like us on Facebook to stay up to date on upcoming shows and new songs! If you really love us, share us on your page too!</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbottomofthebottleband%2F&tabs=events&width=340&height=400&small_header=true&adapt_container_width=false&hide_cover=true&show_facepile=false&appId" width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>

      </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->

<a  name="contact"></a>
<div class="content-section-a">

  <div class="container">

      <div class="row">
          <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Contact us</h2>
              <p class="lead">Send us a message on Facebook to book us in North Carolina or South Carolina! We're currently booking for Summer of 2017 and 2018.</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbottomofthebottleband&tabs=messages&width=340&height=300&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>

      </div>
  <!-- /.container -->

  </div>
</div>
<!-- /.content-section-a -->

<div class="banner">

  <div class="container">

      <div class="row">
          <div class="col-lg-5">
              <p></p>
          </div>
          <div class="col-lg-6">
              <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://www.facebook.com/BottomoftheBottleBand"><i class="fa fa-facebook fa-4x"></i> <span class="network-name"></span></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/bottomofthebottleband/"><i class="fa fa-instagram fa-4x"></i><span class="network-name"></span></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCjEV8On47-yYHVc5RNsRn2Q"><i class="fa fa-youtube fa-4x"></i> <span class="network-name"></span></a>
                </li>
                <li>
                    <a href="https://bottomofthebottlemusic.bandcamp.com/releases"><i class="fa fa-bandcamp fa-4x"></i> <span class="network-name"></span></a>
                </li>
              </ul>
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.banner -->


  <!-- Footer -->
<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <ul class="list-inline">
                  <li>
                      <a href="#">Back to top</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="#about">About</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="#events">Events</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>
